.header {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    border-bottom: 2px solid #ffffff;
  }
  
  .header h3 {
    padding-top: 20px; 
    padding-bottom: 20px;
    margin: 0;  
  }
  
  .shows-container {
    padding: 25px;
  }
  
  .shows-grid {
    display: grid;
    grid-template-columns: 1fr; /* 1 column on mobile */
    gap: 20px;
  }
  
  @media (min-width: 600px) {
    .shows-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
    }
  }
  
  @media (min-width: 1024px) {
    .shows-grid {
      grid-template-columns: repeat(3, 1fr); /* 3 columns on larger screens */
    }
  }
  
  .show-tile {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .show-tile:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .show-tile img {
    width: 100%;
    height: 250px; 
    border-bottom: 2px solid #f7f7f7;
  }
  
  .show-tile h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 15px 0 2px;
    color: #333;
  }
  
  .show-tile h3 {
    font-size: 1rem;
    margin: 15px;
    color: #6d6c6c;
  }
  
  .book-now-button {
    background: linear-gradient(to right, #ff9946, #ef0400);
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 0 0 10px 10px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    width: 100%;
    display: block;
  }
  
  .book-now-button:hover {
    background: linear-gradient(to right, #ef0400, #ff9946);
  }
  
  .sold-out-text {
    font-size: 1rem;
    font-weight: bold;
    color: #999;
    margin-top: auto;
  }
  
  .show-tile.sold-out {
    background-color: #f0f0f0;
    opacity: 0.6;
    pointer-events: none;
  }
  
  .show-tile.sold-out h2, 
  .show-tile.sold-out h3 {
    color: #888;
  }
  